<h1>Ladies Shoes</h1>

 <div>
   <a href="/shoes">Back to the Home page</a>
 <div>

<div class="well">
  <h2><%=@shoe2.name%></h2>
  <h3><%=@shoe2.price%></h3>
  <h2> <img src="<%= @shoe2.image %>" </h2>
  <br>
  <h><%=@shoe2.description%></h2>
</div>


<div class="well">
  <h2><%=@shoe1.name%></h2>
  <h3><%=@shoe1.price%></h3>
  <h2> <img src="<%= @shoe1.image %>" </h2>
  <h><%=@shoe1.description%></h2>
</div>

<div class="well">
  <h2><%=@shoe3.name%></h2>
  <h3><%=@shoe3.price%></h3>
  <h2> <img src="<%= @shoe3.image %>" </h2>
  <h><%=@shoe3.description%></h2>
  </div>


