<h1>Shoe Info</h1>

<h2><a href="/shoes/<%= @shoe.id %>"><%= @shoe.name %></a></h2>
<h3>Price: <%= @shoe.price %></h3>
<h3>Tax: <%= number_to_currency(@shoe.tax) %></h3>
<h3>Total: <%= number_to_currency(@shoe.total) %></h3>


<h2> <img src="<%= @shoe.image %>" ></h2>
<h2><%=@shoe.description%></h2>
<h2> <a class="btn btn-danger"><%=@shoe.sales_message%> </a> </h2>


<br>
<br>
<div>
<a href="/shoes" <a class="btn btn-danger">Back to Home Page</a> 
</div

<%= form_tag "/shoes/#{@shoe.id}", method: "destroy" do %>
   <input type="submit" value="Delete Shoe">
<% end %>
<br>
<div>
<a href="/shoes/<%= @shoe.id %>/edit" <button type="submit" class="btn btn-danger"> </button>Edit Shoe</a>
</div>
<br>
<br>
