<h1>Shoe Info</h1>

<h2><a href="/shoes/<%= @shoe.id %>"><%= @shoe.name %></a></h2>
<h3>Price: <%= @shoe.price %></h3>
<h3>Tax: <%= number_to_currency(@shoe.tax) %></h3>
<h3>Total: <%= number_to_currency(@shoe.total) %></h3>


<h2> <img src="<%= @shoe.image %>" ></h2>
<h2><%=@shoe.description%></h2>




<div>
<a href="/shoes" <a class="btn btn-primary">Back to Home Page</a> 
</div>
<br>

<%= form_tag "/shoes/#{@shoe.id}", method: "delete" do %>
   <input type="submit" value="Delete Shoe" class="btn btn-danger"> 
<% end %>

<br>
<a href="/shoes/<%= @shoe.id %>/edit" <button type="submit" class="btn btn-default"> </button>Edit Shoe</a>

